<div class="centered-content">
    <div class="modal-box">
        <h1 class="title">
            Crear un nuevo paciente
        </h1>

        <input #PatientFirstNameInput class="input has-background-light is-medium" type="text" placeholder="Ingrese el nombre del paciente">
        <br><br>
        <input #PatientLastNameInput class="input has-background-light is-medium" type="text" placeholder="Ingrese el apellido del paciente">
        <br><br>
        <input #PatientBirthdayYearInput class="input has-background-light is-small" type="text" placeholder="Ingrese el año de nacimiento">
        <br><br>
        <input #PatientBirthdayMonthInput class="input has-background-light is-small" type="text" placeholder="Ingrese el mes de nacimiento">
        <br><br>
        <input #PatientBirthdayDayInput class="input has-background-light is-small" type="text" placeholder="Ingrese el día de nacimiento">
        <br><br>
        <input #PatientAddressInput class="input has-background-light is-medium" type="text" placeholder="Ingrese la dirección del paciente">
        <br><br>
        <div class="buttons is-right">
            <button class="button is-medium" routerLink="/patients">Cancelar</button>
            <button class="button is-primary has-text-white is-medium" (click)="createPatient(PatientFirstNameInput.value, PatientLastNameInput.value, PatientBirthdayYearInput.value, PatientBirthdayMonthInput.value, PatientBirthdayDayInput.value, PatientAddressInput.value, 'imageurl.com', 'guestId','guestId')">Crear</button>
        </div>

    </div>
</div>