<div class="centered-content">
    <div class="patients-manager-container">
  
        <div class="sidebar has-background-white">
            <h1 class="title has-text-primary">
            Lista de Hospitales
            </h1>

            <div class="list-menu">
               
            </div>
            <button class="button is-primary has-text-white">+Nuevo Hospital</button>
        </div>

  
        <div class="history-list-container has-background-light">
            <div class="history" (click)="alerta('Esta funcion todavía no esta implementada. Da click en pacientes para ver tener una idea de como sería esta sección')">
                <div class="history-text">
                    <p> Doctores </p>
                </div>
            </div>
            <div class="history" routerLink="/patients">
                <div class="history-text">
                    <p> Pacientes </p>
                </div>
            </div>
            <div class="history" (click)="alerta('Esta funcion todavía no esta implementada. Da click en pacientes para ver tener una idea de como sería esta sección')">
                <div class="history-text">
                    <p> Especialidades </p>
                </div>
            </div>
           
        </div>
  
    </div>
</div>