<div class="centered-content">
    <div class="patients-manager-container">
  
        <div class="sidebar has-background-white">
            <h1 class="title has-text-primary">
            Lista de Hospitales
            </h1>

            <div class="field">
                <div class="search">
                    <p class="control has-icons-left">
                        <input #SearchNameInput class="input has-background-light" type="search" placeholder="Nombre">
                        <span class="icon is-small is-left">
                          <i class="fas fa-search"></i>
                        </span>
                      </p>
                      <button class="button is-primary has-text-white" (click)="onSearchHospitalsNameClick(SearchNameInput.value)">Buscar</button>
                </div>
            </div>
            <div class="list-menu">
                <a class="list-menu-item" *ngFor="let hospital of hospitals" [routerLink]="['/main', hospital.id]" routerLinkActive="is-active">
                    <p>{{ hospital.title}} </p>
                    <br>
                    <br>
                    <br>
                        <div class="icon" (click)="onDeleteHospitalClick(hospital.id)">
                            <i class="fas fa-trash"></i>
                        </div>
                    
                </a>
               
            </div>
            <button class="button is-primary has-text-white" routerLink="/new-hospital">+Nuevo Hospital</button>
        </div>

  
        <div class="history-list-container has-background-light">
            <div class="history" routerLink="/doctors">
                <div class="history-text">
                    <p> Doctores </p>
                </div>
            </div>
            <div class="history" routerLink="/patients">
                <div class="history-text">
                    <p> Pacientes </p>
                </div>
            </div>
            <div class="history" routerLink="/specialities">
                <div class="history-text">
                    <p> Especialidades </p>
                </div>
            </div>
           
        </div>
  
    </div>
</div>